body {
	background-color:#004080;
}
.popup {
	top:25%;
	bottom:25%;
	left:25%;
	right:25%;
	background-color:#ffffff;
	padding:1%;
}
.mainwindow {
	top:4%;
	bottom:4%;
	left:2%;
	right:2%;
	background-color:#ffffff;
	padding:1%;
}
.mainwindow_inactive {
	top:4%;
	bottom:4%;
	left:2%;
	right:2%;
	background-color:#c0c0c0;
	padding:1%;
}
.next {
	width:40%;
	position:absolute;
	left:30%;
	bottom:3%;
}
.icon {
	color:#004080;
}
.windowtitle {
	text-align:center;
}
.backiconbox {
	text-align:center;
}
.iconbox {
	text-align:center;
	padding-top:30%;
}
.instructions {
	line-height:150%; 
	text-align:center;
}
.shiny-progress .bar {
	background-color: #FF0000;
	.opacity = 1;
}
.shiny-progress .progress {
	height:10px;
}

.shiny-progress .progress-text {
	width:6%;
	right:47%;
	text-align:center;
}
